<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Component</title>
    </head>
    <body>
        <div id="app">
            <!-- cara memanggilnya -->
            <!-- nama adalah props -->
            <header-component nama="Rayandra Wandi Marselana" age="22"></header-component>
            
            <main>
                <Home> </Home>
                
                <!-- v-bind unutk mengambil data dari parentnya -->
                <!-- nama emit yg di daftarkan hapusKelas -->
                <!-- <kelas-component v-bind:items="kelas" :inputKelas="kelasBaru" v-on:hapusKelas="hapusKelasEmit($event)" /> -->
                <!-- <kelas-component v-bind:items="kelas" v-on:submitKelas="submitkelas" :hapusKelas="hapusKelasEmit" /> -->
                <kelas-component v-bind:items="kelas" v-on:submitKelas="submitkelas" @hapusKelas="hapusKelasEmit" />
            </main>

            <footer-component></footer-component>
        </div>

        <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
        <script>
            // Componen Local
            const Home = {
                template: '<div>Home</div>'
            }
            // pembuatan component
            const app = Vue.createApp({
                components:{
                    Home
                },
                data() {
                    return {
                        kelas: ['PHP', 'HTML'],
                        kelasBaru: "",
                    };
                },
                methods: {
                    submitkelas(event){
                        this.kelas.unshift(event.target.value);
                        this.kelasBaru = "";
                    },
                    hapusKelasEmit(index) {
                        // Lakukan sesuatu dengan indeks yang diterima, seperti menghapus item dari array 'kelas'
                        // Kemudian, jika Anda ingin membersihkan inputKelas:
                        // menghapus
                        this.kelas.splice(index, 1);
                    },
                },
            });

            app.component('header-component', {
                // props
                props:['nama', 'age'],
                template: `<header>
                                <p v-text="pesan" :key="pesan"></p>
                                <p>{{ "Created By " + nama }}</p>
                                <p>{{ "Age : " + age }}</p>
                            </header>`,
                // Data Component
                data: function(){
                    return {
                        pesan: "Vue JS Components"
                    }
                }
            });
            app.component('footer-component', {
                template: `<footer>
                                <p>Belajar Vue Component</p>
                            </footer>`
            });
            app.component('kelas-component', {
                props:['items'],
                template: ` <div>
                                <h3>Tambah Kelas</h3>
                                <input type="text" placeholder="Nama Kelas" @keyup.enter="$emit('submitKelas', $event)">
                                <hr>
                                <template v-if="items.length > 0">
                                    <ul>
                                        <li v-for="(item,index) of items" :key="item">{{ item }} 
                                        <!-- Emit Custom Event --> 
                                        <!--<a href="" v-on:click.prevent="$emit('hapusKelas',index)">Hapus</a>--> 
                                        <a href="" @click.prevent="emitHapusKelas(index)">Hapus</a>
                                        </li>
                                    </ul>
                                </template>
                            </div>`,
                methods: {
                    emitHapusKelas(index) {
                        this.$emit('hapusKelas', index);
                    }
                }
            });

            app.mount("#app");
        </script>
    </body>
</html>
